<div th:fragment="navbar" xmlns:th="http://www.thymeleaf.org">
    <nav class="bg-white border-b border-gray-200 px-4 py-3">
        <div class="max-w-7xl mx-auto flex justify-between items-center">
            <a href="/" class="text-xl font-semibold text-gray-800">Health Information System</a>
            <div class="space-x-4">
                <a href="/clients/register" class="text-gray-600 hover:text-gray-900">Register Client</a>
                <a href="/clients/search" class="text-gray-600 hover:text-gray-900">Search</a>
                <a href="/clients/all" class="text-gray-600 hover:text-gray-900">View All Clients</a>
                <a href="/enrollments/enroll" class="text-gray-600 hover:text-gray-900">Enroll</a>
                <a href="/programs/create" class="text-gray-600 hover:text-gray-900">Create Program</a>
                <a href="/programs/all-programs" class="text-gray-600 hover:text-gray-900">All Programs</a>
            </div>
        </div>
    </nav>
</div>

